{<<"labels">>,
	[
		{<<"list">>,
			[{<<"endpoint">>,<<"https://www.googleapis.com/gmail/v1/users/{userId}/labels">>},{<<"method">>,get}]
		},
		{<<"get">>,
			[{<<"endpoint">>,<<"https://www.googleapis.com/gmail/v1/users/{userId}/labels/{id}">>},{<<"method">>,get}]
		}
	]
}.
{<<"messages">>,
	[
		{<<"list">>,
			[{<<"endpoint">>,<<"https://www.googleapis.com/gmail/v1/users/{userId}/messages">>},{<<"method">>,get}]
		},
		{<<"get">>,
			[{<<"endpoint">>,<<"https://www.googleapis.com/gmail/v1/users/{userId}/messages/{id}">>},{<<"method">>,get}]
		}
	]
}.
{<<"history">>,
	[
		{<<"list">>,
			[{<<"endpoint">>,<<"https://www.googleapis.com/gmail/v1/users/{userId}/hhistory">>},{<<"method">>,get}]
		}
	]
}.